<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">

  <title>Flask Pokus</title>

  <meta name="description" content="Flask pokus">
  <meta name="author" content="Marek">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favico.png') }}" />


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

<a href="https://github.com/spseol/public_python/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>


  <p class="login">
  {% if 'user' in session %}
  Jsi přihlášen jako <a href="{{ url_for('login') }}">{{session.user}}</a>.<br />
    <a href="{{ url_for('logout') }}">Odhlásit se!</a>
  {% else %}
    ÓÓÓÓóóóó. Hrůza! Nejsi přihlášen. <br />
    <a href="{{ url_for('login') }}">Přihlásit se.</a>
  {% endif %}
  </p>

  <ul id="nav">
    <li><a href="{{ url_for('index') }}">Domů</a></li>
    <li><a href="{{ url_for('onas') }}">O nás</a></li>
    {% if 'user' in session %}
      <li><a href="{{ url_for('kapela') }}">Kapela</a></li>
      <li><a href="{{ url_for('skola') }}">Škola</a></li>
    {% endif %}
  </ul>

  {% block obsah %}

    <h1>Flask <a href="{{ url_for('index') }}">pokus</a></h1>
    <ul>
        {% for s in slova  %}
            <li>Je to {{s}}.</li>
        {% endfor %}
    </ul>

<p>Ukázková  aplikace pro web framework <a
  href="http://flask.pocoo.org/">Flask</a>. </p>

<p>Zdrojové kódy najdete na <a
  href="http://github.com/spseol/public_python/">Githubu</a>.</p>

<p>Pokud si chcete vyzkoušet přihlášení, použijte libovolné přihlašovací jméno 
 a libovolné heslo.</p>

  {% endblock obsah %}

<footer>
    <p>Powered by: 
    <a href="http://python.org">Python</a>, 
    <a href="http://flask.pocoo.org/">Flask</a>, 
    <a href="http://debian.org">Debian GNU/Linux</a>,
    <a href="http://www.spseol.cz">VOŠ a SPŠE Olomouc</a>.
    </p>
</footer>




</body>
</html>
